.footer {
  position: relative;
  // background: linear-gradient(#e6edef, #1a555e);
  background:  #1a555e;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  p {
    color: #e0e0e0;
    font-size: 0.75rem;
    margin: 0.5rem 0 0;

    a {
      color: #e0e0e0;
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }
  }
}
