.footer {
  position: relative;
  background:  #676767;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  .primary-nav {
    display: flex;

   

    a {
      display: flex;
      align-items: center;
      img {
        width: 55%;
        margin-left: 0.5rem;
      }
    }
    &.is-mobile {
      position: fixed;
      z-index: 2;
    }
  }
}
