<div class="home">
  <div class="intro-section">
    <h1>Welcome to Utility</h1>
  </div>

  <div class="cards-wrapper">
    <mat-card>
      <h2>Migration Account</h2>
      <p>Explore AWS DynamoDB and update user account.</p>
      <a routerLink="/jobs">Browse Job Listings</a>
    </mat-card>
<!-- 
    <mat-card>
      <h2>For Employers</h2>
      <p>Discover skilled developers available for remote work.</p>
      <a routerLink="/developers">View Developers</a>
    </mat-card> -->
  </div>

</div>
