
.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .header {
    background-color: #10147e;
    display: flex;
    justify-content: space-between;

    .primary-nav {
      display: flex;
      align-items: center;

      .menu-icon {
        color: #fff;
        margin-right: 10px;
      }

      a {
        display: flex;
        align-items: center;
        img {
          width: 55%;
          margin-left: 0.5rem;
        }
      }
    }
  }

  .sidenav-container {
    background-color: #fff;
    flex: 1;

    mat-sidenav {
      width: 240px;
      transition: width 0.3s ease;

      mat-nav-list {
        padding: 0;
        width: 100%;

        a {
          display: flex;
          color: #18559b;
          font-family: 'Poppins', sans-serif;
          text-transform: uppercase;
          text-decoration: none;
          text-decoration-color: #fff;
          font-weight: bold;
          padding: 1rem;

          &:hover {
            background-color: #334d863e;
          }

          &.active {
            color: #fff;
            background-color: #3d578f3e;
          }
        }
      }
    }

    mat-sidenav-content {
      padding: 1rem;
    }
  }
}
