<!-- <div class="container">
  <div class="search-bar">
    <span for="userEmail">Email Address:</span>
    &nbsp;
    <input type="text" placeholder="Search...">
    <button (click)="search()">Search</button>
  </div>
</div>
 -->
<!-- 
 <form #emailForm="ngForm">
  <div class="form-group">
   <label for="existingEmail">Existing Email Id</label>
   <input type="email" class="form-control" id="existingEmail" name="existingEmail" ngModel required>
   &nbsp;
   <span><button type="button" class="btn btn-primary">Email Source</button> </span>
   
   <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
    <label class="form-check-label" for="flexRadioDisabled">
      Disabled radio
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioCheckedDisabled" checked disabled>
    <label class="form-check-label" for="flexRadioCheckedDisabled">
      Disabled checked radio
    </label>
  </div>
  </div>
  <div class="form-group">
   <label for="newEmail">New Email Id</label>
   <input type="email" class="form-control" id="newEmail" name="newEmail" ngModel required>
   &nbsp;
   <span> <button type="button" class="btn btn-primary">Validate Email</button></span>
   
  </div>
 </form> -->


 <!-- app.component.html -->
<div class="container">
  <div class="input-container">
    <label for="email1">Old Email Address:</label>
    <input type="email" id="email1" [(ngModel)]="emailAddress" #email1Input>
    <button class="submit-button" (click)="submitOldEmail(email1Input.value)">Submit</button>
  </div>

  <div class="input-container">
    <label for="email2">New Email Address:</label>
    <input type="email" id="email2" [(ngModel)]="emailAddress2" #email2Input>
    <button class="submit-button" (click)="submitNewEmail(email2Input.value)">Submit</button>
  </div>

  <div class="radio-container">
    <label class="radio-label">
      <input type="radio" name="accountType" [checked]="accountType === 'Email'" disabled>
      Email
    </label>

    <label class="radio-label">
      <input type="radio" name="accountType" [checked]="accountType === 'ORCID'" disabled>
      ORCID
    </label>
  </div>

  <div class="info-text">Info text goes here...</div>

  <div class="table-container">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Table Columns -->
    </mat-table>
  </div>

  <button class="migration-button" [disabled]="!isNewEmailValidated">Migrate Data</button>

  <div *ngIf="submissions.length === 0 && emailFetched" class="message">No submissions found for the provided email.</div>
  <div *ngIf="emailValidationMessage" class="message">{{ emailValidationMessage }}</div>
</div>
